footer{
    display: flex;
    align-items: flex-start;
    position:fixed;
    bottom:0;
    left:0;
    
}
img {
    width: 200px;
    display: flex;
    margin-left: 50%;
}

body {
    background-color: rgb(198, 202, 198);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    background-color: rgb(37, 83, 83);
}

h2 {
    background-color: palevioletred;
}

h3 {
    background-color:  palevioletred;
}

h4{
    background-color: palevioletred;
}

.animals {
    display: flex;
    flex-direction: column;
}
